.topBar {
  align-items: center;
  background-color: #121212;
  color: #FFFFFF;
  padding-bottom: 15px;
  width: 100%;
}

.inner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  max-width: 750px;
  text-align: center;
}

.logoBar {
  background-color: #000000;
}

.appName {
  line-height: 0.5;
  text-align: center;
}

.searchBar {
  background-color: #121212;
  border: none;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 0;
  color: rgba(255, 255, 255, 0.5);
  height: 45px;
  margin: 0 auto;
  width: 75%;
}

.searchBar::placeholder {
  color: rgba(255, 255, 255, 0.5);
}

.searchBar:focus {
  border-bottom: 1px solid#FFFFFF;
  color: #FFFFFF;
  outline: none;
}

.unitsLabel {
  color: rgba(255, 255, 255, 0.67);
  font-size: 16px;
  letter-spacing: 2px;
}

.activeUnit {
  color: rgba(255, 255, 255, 1.0);
  font-size: 16px;
  font-weight: bold;
}